/*******************/
/**    COLORS    **/
/******************/

$color__white: rgba(255, 255, 255, 1);
$color__red: rgba(175, 74, 69, 1);
$color__red-light: rgba(208, 91, 85, 1);
$color__black: rgba(0, 0, 0, 1);
$color__grey--light: rgba(217, 217, 217, 1);
$color__grey--lightest: rgb(241, 241, 241);
$color__grey--dark: rgba(51, 51, 51, 1);
