/********************/
/**    SPACINGS    **/
/********************/

$spacing-base: 0.6875rem !default;

$spacing--5: 0.3125rem !default;
$spacing--11: $spacing-base;
$spacing--22: $spacing-base * 2 !default;
$spacing--33: $spacing-base * 3 !default;
$spacing--44: $spacing-base * 4 !default;
$spacing--55: $spacing-base * 5 !default;
$spacing--66: $spacing-base * 6 !default;
$spacing--77: $spacing-base * 7 !default;
$spacing--88: $spacing-base * 8 !default;
